*{
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    box-sizing: border-box;
}
header{
    background-color: rgb(0, 0, 0);
    padding: 2rem 0;
}
.header-content{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.header-content nav{
    position: absolute;
    top: 110px;
    right: 0;
}
.header-content nav li{
    display: inline;
    margin: 0 0 0 1.5rem;
}
.header-content nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-weight: bold;
    font-size: 2.2rem;
}
.header-content nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}
.section-content{
    width: 940px;
    margin: 0 auto;
}
.section-content form{
    margin: 4rem 0;
}
.section-content form label, form p{
    display: block;
    font-size: 2rem;
    margin: 0 0 1rem;
}
.section-content form label input{
    margin: 1rem 1rem 0 0;
}
.checkbox{
    margin: 2rem 0;
}

.default-input{
    display: block;
    margin: 0 0 2rem;
    padding: 1rem 2.5rem;
    width: 50%;
    border: 1px solid #000;
}
.submited{
    width: 40%;
    padding: 1.5rem 0;
    background-color: #ee8a06;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.submited:hover{
    background-color: #ff8c00;
    transition: 0.5s;
}
.selected{
    border: 1px solid #000;
    margin-bottom: 1rem;
}
.submited:active{
    transform: rotate(2deg) scale(1.2);
}
table{
    margin: 2rem 0 4rem;
}
table thead{
    background-color: #555;
    color: #fff;
    font-weight: bold;
}
td, th{
    border: 1px solid #000;
    padding: 1.5rem 0.8rem;
}

.footer-content{
    background: url(./img/bg.jpg);
    text-align: center;
    padding: 4rem 0;
}
.footer-content p{
    color: #fff;
    font-size: 1.3rem;
    margin: 2rem 0 0 0;
}
@media(min-width:481px) and (max-width:768px){
    .header-content, .project, .section-content {
        width: auto;
    }
    .header-content h1 {
        text-align: center;
    }
    .header-content nav {
        position: static;
        text-align: center;
    }
    .header-content nav a{
        font-size: 1.6rem;
    }
    .section-content{
        margin: 5px;
    }
    .default-input{
        width: 80%;
    }
    .submited{
        width: 80%;
    }
}
@media(max-width: 480px) {
    .header-content, .project, .section-content {
        width: auto;
    }
    .header-content h1 {
        text-align: center;
    }
    .header-content nav {
        position: static;
        text-align: center;
    }
    .header-content nav a{
        font-size: 1.6rem;
    }
    .section-content{
        margin: 5px;
    }
    .default-input{
        width: 80%;
    }
    .submited{
        width: 80%;
    }
}
/***Feito por:Matheus de Souza Silva ***/